/* 
    Created on : Aug 5, 2014, 3:39:33 PM
    Author     : NME
*/
@charset "UTF-8";

.navbar-menu-inline {
    text-align: center;       
}

.navbar-menu-inline li {
    display: inline-block;
    margin-left: 15px;
    margin-right: 5px;
}

.module-system, .menu-seguranca {
    display: inline-block;
    line-height: 1.428571429;

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #ebebeb 54%, #ebebeb 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(54%,#ebebeb), color-stop(99%,#ebebeb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ebebeb 54%,#ebebeb 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#ebebeb 54%,#ebebeb 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#ebebeb 54%,#ebebeb 99%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#ebebeb 54%,#ebebeb 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */

    text-decoration: none !important;
    border: 1px solid #ddd;
    border-radius: 9px;
    -webkit-transition: all .2s ease-in-out !important;
    transition: all .2s ease-in-out !important;
    width: 170px;
    height: 170px;
}

.module-system div.module-name {
    position: relative;
    width: 100%;
    top: -43px;

    overflow: hidden;
    white-space: nowrap;
}

.module-system div.module-name h3 {
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: #525252;
}

.module-system img {
    margin-left: 6px !important;
    margin-top: 15px;
}

.menu-seguranca div.module-name {
    position: relative;
    width: 100%;
    top: -4px;

    overflow: hidden;
    white-space: nowrap;
}

.menu-seguranca div.module-name h3 {
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: #525252;
}

.menu-seguranca img {
    margin-left: none;
    margin-top: 15px;
}

footer {
    border-top: 4px solid #2987C5;
}

.table {
    border: 2px solid #DDD !important;
}

.table-bordered>thead>tr>th {
    background-color: #2987C5 !important;
    color: #fff;
    border: #2987C5 1px solid !important;
}

.table-bordered>tbody>tr>td {
    background-color: #EEE;
    border-right-color: transparent;
    border-left-color: transparent;
    vertical-align: middle;
}

.table-bordered>tbody>tr>td .action ul {
    left: -91px;
}

.pagination>li>a,
.pagination>li>span {
    color: #2987C5 !important;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover, 
.pagination>.active>span:hover, 
.pagination>.active>a:focus, 
.pagination>.active>span:focus {
    background-color: #2987C5;
    color: #FFF !important;
    border-color: #2987C5;
}

.nestable div.dropdown-group {
    position: absolute;
    top: 7px;
    right: 11px;
}

.nestable div.dropdown-group .dropdown-menu {
    left: -83px;
}

.chat li.left .chat-body {
    margin-left: 70px;
}

.chat .header strong.primary-font {
    font-size: 20px;
}

.chat li.left {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.dropdown-menu li {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

@media (max-width: 767px) {
    .chat .header strong.primary-font {
        font-size: 18px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        display:block;
    }
}

.bootstrap-switch 
.bootstrap-switch-handle-on.bootstrap-switch-primary, 
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    color: #000;
    background: #B2F397;
}

.task-list {
    list-style: none;
    padding: 0px;
    margin-top: 10px;
}

.task-list li {
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.78);
}

.nestable .checkbox, .radio {
    margin-top: 6px;
}

.box-light {
    padding-left: 14px;
    padding-right: 14px;
    margin-top: 10px;
}

.box-light .box {
    background: #fff;
    border: 1px solid #eee;
}

.box-light .box h4 {
    color:#343026;
    border-left:solid 4px #428BCA;
    text-transform:uppercase;
    font-size:22px;
    padding:0 0 0 10px;
    font-size:32px;
}

.box-light .box div.checkbox {
    border-left: 4px solid #428BCA;
    padding-left: 10px;
    font-size: 18px;
    margin-top: 10px;
}