body {
    overflow-x: hidden;
    background-color: #fff;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
}

.overlay{
    background-color: rgba(1, 1, 1, 0.7);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1041;
}

.datepicker td, .datepicker th {
    border-radius: 0;
}

.dashboard-img-membro-tabela{
    max-width: 80px;
    max-height: 60px;
    min-width: 80px;
    min-height: 60px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    vertical-align:middle;
}
.container{
    margin-bottom: 30px;
}

/** header admin **/
.header-admin{
    background-color: #000;
    max-height: 60px;
}

.header-admin .container{
    margin-bottom: 0px;
}

.header-admin a{
    color: #fff;
    font-size: 15px;
}

.header-admin a:focus,
.header-admin a:hover{
    color: #1C95A4;
    text-decoration: none;
}

.header-admin h4{
    margin-top: 15px;
}

/*Navbar */
.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    margin-bottom: 0;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-brand{
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-default {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
    background-color: #A9AFB4;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav li a  {
    color: #333;
    text-align: center;
}
.navbar-default .navbar-nav .dropdown-menu > li > a {
    color: #333;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #333;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
    color: #4682B4;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #325D81;
}

.navbar-default .navbar-brand:hover , .navbar-default .navbar-nav li a:hover  {
    color: #4682B4;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: rgba(215, 220, 224, 0.64);
    color: #325D81;
}

.navbar-header{
    min-width: 100px;
    min-height: 97px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}
.navbar-default .navbar-toggle {
    border-color: #000;
}

.membro-lab{
    min-height: 392px;
    max-height: 392px;
}

.membro-lab a img{
    min-height: 200px;
}

.img-all-posts{
    min-height: 150px;
    min-width: 150px;
    max-height: 150px;
    max-width: 150px;
}

.dropdown .dropdown-menu{
    background-color: #E5E9EB;
    min-width: 177px;
}

.dropdown-menu li a:hover{
    background-color: #fff;
    color: #4682B4;
}

p {
    font-size: 20px;
}

b {
    font-size: 20px;
}


*::before, *::after {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}

.nav-tabs > li > a {
    border-radius: 0px 0px 0 0;
}

.panel-lab{
    min-height: 500px;
    max-height: 500px;
}

.panel-lab .panel-heading{
    max-height: 80px;
    min-height: 80px;
}

.panel-lab .panel-body p{
    max-height: 121px;
    min-height: 121px;
}

.panel-capa-laboratorio img{
    max-height: 140px;
    min-height: 140px
}

.panel-capa-laboratorio{
    max-height: 200px;
    min-height: 200px
}

.panel-body p{
    font-size: 17px;
}

p.small {
    font-size: 16px;
}

a,a:hover,a:focus,a:active,a.active {
    outline: 0;
}


.copyright a{
    color: #B4B4B4;
    float: left;
}


h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
.page-header{
    margin-top: 80px;
}

header {
    text-align: center;
}

header .container {
    padding-top: 40px;
    padding-bottom: 20px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

.painel-laboratorio{
    margin-top: 20px;
}

.panel-capa-laboratorio{

}

.img-inicio-projeto{
    max-height: 200px;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

.container-dashboard{
    margin-left: 40px;
    width: 90%;
}
.dashboard-options{
    margin-top: 80px;
}
.dashboard-options li{
    background-color: #f5f5f5;
    border: 0;
}
.dashboard-content{
    margin-top: 40px;
}

.dashboard-capa-laboratorio{
    max-height: 200px;
    min-height: 200px;
    min-width: 100%;
}

.upload-capa-laboratorio{
    max-height: 205px;
    min-width: 568px;
}

.thumbnail-dashboard-laboratorio{
    min-height: 490px;
    max-height: 490px;
}

/* Reovendo border-radius*/
.list-group-item:first-child,
.list-group-item:last-child,
.pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination > li:last-child > a, .pagination > li:last-child > span,
.input-sm, .form-group-sm .form-control, .form-control,
.btn, .btn-blog, .navbar-toggle, .dropdown-menu, .well, .well-sm, .panel,
.painel-laboratorio div .panel, .projeto, .thumbnail{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-radius: 0;
}

.modal-lg{
    width: 90%;
}

.modal-lg-projeto{
    width: 75%;
}

.modal-content{
    border-radius: 0px;
}

.btn-block{
    margin-top: 10px;
}

.form-checkbox{
    padding-left: 10px;
}

.img-upload{
    margin-left: auto;
    margin-right: auto;
}

#capa:hover, #foto:hover{
    cursor: pointer;
}
.footer-below .container{
    margin-bottom: 0;
}

.footer-right{
  float: right;
}

.footer-right a{
  color: #83A4BD;
}
.footer-right a:hover{
  text-decoration: none;
}


/* Css para diferentes tipos de resoluções */
@media(min-width:768px) {
    .navbar-default {
        border-radius: 0px;
    }
    .navbar-collapse{
        padding: 30px;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

}

@media screen and (max-width: 768px){
    .dashboard-options{
        margin-top: 10px;
        max-height: 90px;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 980px){
    .navbar-header{
        margin: 0 auto;
        float: none;
    }
    .dashboard-options{
        margin-top: 10px;
        max-height: 200px;
        overflow-y: scroll;
    }
}

/*
Pagina inicial
*/

/* Notcias*/
.blogShort{ border-bottom:1px solid #ddd;}
.add{background: #333; padding: 10%; height: 300px;}

/* Botão de busca */
#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}

.laboratorio{
    margin: 0 auto;
    display: table;
}

/* Laboratório */

.thumbnail .caption-full {
    color: #333;
    padding: 9px;
    text-align: justify;
}

.form-control.descricao-laboratorio,
.form-control.descricao-laboratorio[readonly],
.form-control.descricao-laboratorio:focus{
    resize: none;
    background-color: #fff;
    font-size: 18px;
    color: #333;
    cursor: auto;
    max-height: 400px;
    border-color: transparent;
    box-shadow: none;
    outline: 0 none;
}

/* Membro */
.col-membro{
    max-width: 350px;
}

.nome-membro{
    font-size: 15px
}

.bio-membro{
    font-size: 15px;
}

.caption-full p{
    font-size: 18px;
}

.ratings {
    color: #d17581;
    padding-left: 10px;
    padding-right: 10px;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    color:#D9230F;
    z-index: 2;
}

.search-query:focus + button {
    z-index: 3;
}
/* Fim botão de busca */

article p{
    font-size: 16px;
    line-height: 1.42857;
    color: #333;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.content-usuario{
    margin-top: 80px;
}

.twitter-share-button{
    margin-bottom: -5px;
}

article{
    margin-bottom: 20px;
}

.blog-post-date {
    color: #999;
    margin-bottom: 20px;
}

.capa-blog{
    margin-left: auto;
    margin-right: auto;
}

.social-buttons{
    margin-bottom: 20px;
}
.fb-share-button span{
    height: 25px;
}

.margin10{
    margin-bottom: 10px;
    margin-right: 10px;
}

.btn-user-social {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 2px solid #337AB7;
    font-size: 20px;
    margin-top: 15px;
    transition: all 0.3s ease-in-out 0s;
}

.btn-user-social:hover,
.btn-user-social:focus,
.btn-user-social:active,
.btn-user-social.active {
    border: solid 2px #18bc9c;
    color: #18bc9c;
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
}

.btn-blog {
    color: #ffffff;
    background-color: #85A5C0;
    border-color: #85A5C0;
    margin-bottom:10px
}
.dashboard-options li.active a{
    color: #fff;
}
.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog .active {
    color: white;
    background-color:#7DC4FF;
    border-color: #7DC4FF;
}

footer {
    color: #fff;
    background-color: #325D81;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    //background-color: #2c3e50;
}

footer .footer-col {
    margin-bottom: 50px;

}

footer .footer-below {
    padding: 25px 0;
    background-color: #242D34;

    .btn-social {
        display: inline-block;
        width: 50px;
        height: 50px;
        border: 2px solid #fff;
        border-radius: 100%;
        text-align: center;
        font-size: 20px;
        line-height: 45px;
    }

    .btn:focus,
        .btn:active,
        .btn.active {
        outline: 0;
    }

    .justify p{
        text-align: justify;
        text-indent: 30px;
        text-justify: inter-word;
    }
