<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>.: SigU - UNA-SUS :.</title>

        <!-- Bootstrap Core CSS -->
        <link href="assets/css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="assets/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

        <!-- Timeline CSS -->
        <link href="assets/css/plugins/timeline.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="assets/css/sb-admin-2.css" rel="stylesheet">

        <!-- Morris Charts CSS -->
        <link href="assets/css/plugins/morris.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- Google Fonts -->
        <link href="http://fonts.googleapis.com/css?family=Ubuntu:400,500" rel="stylesheet" type="text/css">

        <!-- Style CSS SigU -->
        <link href="assets/css/sigu-style.css" rel="stylesheet" type="text/css">
        <link href="assets/css/sigu-seguranca-style.css" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- JS -->
        <!-- jQuery Version 1.11.0 -->
        <script src="assets/js/jquery-1.11.0.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="assets/js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="assets/js/plugins/metisMenu/metisMenu.min.js"></script>

        <!-- Data Table Jquery -->
        <script src="assets/js/plugins/dataTables/jquery.dataTables.js"></script>
        <script src="assets/js/plugins/dataTables/dataTables.bootstrap.js"></script>

        <!-- Morris Charts JavaScript -->
        <script src="assets/js/plugins/morris/raphael.min.js"></script>
        <script src="assets/js/plugins/morris/morris.min.js"></script>
        
        <!-- Jquery MaskEdit -->
        <script src="assets/js/jquery.maskedinput.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="assets/js/sb-admin-2.js"></script>
    </head>

    <body>

        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-sigu navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <ul class="dropdown-login">
                        <li class="dropdown">
                            <a class="dropdown-toggle dropdown-user-sigu" data-toggle="dropdown" href="#">
                                <span class="usuario-info dspl-none-505 hidden-xs">
                                    <small>Bem Vindo,</small>
                                    Usuário...
                                </span>
                                <img class="nav-user-foto" src="assets/images/foto.png" alt=""> 
                                <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                                </li>
                                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                                </li>
                            </ul>
                            <!-- /.dropdown-user -->
                        </li>
                        <!-- /.dropdown -->
                    </ul>

                    <a class="navbar-brand" href="index.html">
                        <img src="assets/images/logo.png" />

                        <span class="hidden-sm hidden-xs">Sistema Integrado de Gerenciamento da UNA-SUS</span>
                    </a>
                </div>
                <!-- /.navbar-header -->

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li class='active'>
                                <a href="#"><i class="fa fa-bars fa-fw"></i> Menu-Principal<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="#">Empresa</a>
                                    </li>
                                    <li>
                                        <a href="#">Setores</a>
                                    </li>
                                    <li>
                                        <a href="#">Funcionários</a>
                                    </li>
                                    <li>
                                        <a href="#">Projetos</a>
                                    </li>
                                    <li>
                                        <a href="#">Perfil de Acesso</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>

            <!-- Page Content -->
            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Empresa</h1>
                    </div>
                    <!-- /.col-lg-12 -->

                    <div class="col-md-12">
                        <form name="frmEmpresa" action="" method="post">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs nav-tabs-sigu">
                                <li class="active"><a href="#informacoesgerais" data-toggle="tab">Informações Gerais</a></li>
                                <li><a href="#endereco" data-toggle="tab">Endereço</a></li>
                                <li><a href="#web" data-toggle="tab">Web</a></li>
                                <li><a href="#contato" data-toggle="tab">Contato</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content tab-content-sigu">
                                <div class="tab-pane fade in active" id="informacoesgerais">
                                    <div class="form-group">
                                        <label>Nome da empresa:</label>
                                        <input name="txtNomeEmpresa" id="txtNomeEmpresa" type="text" class="form-control" placeholder="Digite aqui o nome da empresa..." />
                                    </div>
                                    <div class="form-group">
                                        <label>Nome da fantasia:</label>
                                        <input name="txtNomeFantasia" id="txtNomeFantasia" type="text" class="form-control" placeholder="Digite aqui o nome da fantasia da empresa..." />
                                    </div>
                                    <div class="form-group">
                                        <label>Presidente:</label>
                                        <input name="txtNomePresidente" id="txtNomePresidente" type="text" class="form-control" placeholder="Digite aqui o nome do presidente da empresa..." />
                                    </div>
                                    <div class="form-group">
                                        <label>Vice-presidente:</label>
                                        <input name="txtNomeVicePresidente" id="txtNomeVicePresidente" type="text" class="form-control" placeholder="Digite aqui o nome do vice-presidente da empresa..." />
                                    </div>
                                    <div class="form-group">
                                        <label>CNPJ:</label>
                                        <input name="txtCNPJ" id="txtCNPJ" type="text" class="form-control mask-cnpj" placeholder="Digite aqui o CNPJ da empresa..." />
                                    </div>
                                    <div class="form-group">
                                        <label>Logomarca:</label>
                                        <small><em>Falta incluir o envio de imagem</em></small>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="endereco">
                                    <div class="form-group">
                                        <label>Endereço:</label>
                                        <input name="txtEndereco" id="txtEndereco" type="text" class="form-control" placeholder="Digite aqui o endereço da empresa..." />
                                    </div>
                                    <div class="form-group">
                                        <label>Complemento:</label>
                                        <input name="txtComplemento" id="txtComplemento" type="text" class="form-control" placeholder="Digite aqui o complemento do endereço..." />
                                    </div>
                                    <div class="form-group">
                                        <label>Bairro:</label>
                                        <input name="txtBairro" id="txtBairro" type="text" class="form-control" placeholder="Digite aqui o bairro da empresa..." />
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>CEP:</label>
                                                        <input name="txtCEP" id="txtCEP" type="text" class="mask-cep form-control" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>UF:</label>
                                                        <select class="form-control" name="txtUF">
                                                            <option value="MA">MA</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Cidade:</label>
                                        <input name="txtEndereco" id="txtEndereco" type="text" class="form-control" placeholder="Digite aqui a cidade da empresa..." />
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="web">
                                    <div class="form-group">
                                        <label>Site (URL):</label>
                                        <input name="txtSite" id="txtSite" type="text" class="form-control" placeholder="Digita aqui a URL do site da empresa (Ex.: www.unasus.ufma.br)..." />
                                        <p class="help-block"><small><a href="#">[Clique aqui pra visitar a página.]</a></small></p>
                                    </div>
                                    <div class="form-group">
                                        <label>Facebook (URL):</label>
                                        <input name="txtFacebook" id="txtFacebook" type="text" class="form-control" placeholder="Digita aqui a URL do Facebook da empresa (Ex.: www.unasus.ufma.br)..." />
                                        <p class="help-block"><small><a href="#">[Clique aqui pra visitar a página.]</a></small></p>
                                    </div>
                                    <div class="form-group">
                                        <label>Twiter (URL):</label>
                                        <input name="txtTwiter" id="txtTwiter" type="text" class="form-control" placeholder="Digita aqui a URL do Twiter da empresa (Ex.: www.unasus.ufma.br)..." />
                                        <p class="help-block"><small><a href="#">[Clique aqui pra visitar a página.]</a></small></p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="contato">
                                    <div class="form-group">
                                        <label>Email:</label>
                                        <input name="txtEmail" id="txtEmail" type="email" class="form-control" placeholder="Digite aqui o email de contato da empresa..." />
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Telefone:</label>
                                                        <input name="txtTelefone" id="txtTelefone" type="tel" class="form-control mask-phone" />
                                                    </div>
                                                </div>

                                                <div class="col-md-6">                         
                                                    <div class="form-group">
                                                        <label>Celular:</label>
                                                        <input name="txtCelular" id="txtCelular" type="tel" class="form-control mask-phone" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">Salvar</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /#page-wrapper -->

            <footer>
                <div class="container-fluid">
                    <div class="logo-footer"><img src="assets/images/logo-footer.png" /></div>
                    <p><small>® 2014 Una-Sus - Universidade Aberta do Sus . Todos os Direitos Reservados.</small></p>
                    <p><small>Rua Viana Vaz, Nº 41, Centro, CEP: 65020-660, São Luis - MA, Brasil.</small></p>
                </div>
            </footer>
        </div>
        <!-- /#wrapper -->

    </body>

</html>

