<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>.: SigU - UNA-SUS :.</title>

        <!-- Bootstrap Core CSS -->
        <link href="assets/css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="assets/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

        <!-- Timeline CSS -->
        <link href="assets/css/plugins/timeline.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="assets/css/sb-admin-2.css" rel="stylesheet">

        <!-- Morris Charts CSS -->
        <link href="assets/css/plugins/morris.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- Google Fonts -->
        <link href="http://fonts.googleapis.com/css?family=Ubuntu:400,500" rel="stylesheet" type="text/css">

        <!-- Style CSS SigU -->
        <link href="assets/css/sigu-style.css" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- JS -->
        <!-- jQuery Version 1.11.0 -->
        <script src="assets/js/jquery-1.11.0.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="assets/js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="assets/js/plugins/metisMenu/metisMenu.min.js"></script>

        <!-- Data Table Jquery -->
        <script src="assets/js/plugins/dataTables/jquery.dataTables.js"></script>
        <script src="assets/js/plugins/dataTables/dataTables.bootstrap.js"></script>

        <!-- Morris Charts JavaScript -->
        <script src="assets/js/plugins/morris/raphael.min.js"></script>
        <script src="assets/js/plugins/morris/morris.min.js"></script>
        
        <!-- Jquery MaskEdit -->
        <script src="assets/js/jquery.maskedinput.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="assets/js/sb-admin-2.js"></script>    
    </head>

    <body class="login background-login-sigu"> 
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-sigu navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/images/logo.png" />

                        <span class="hidden-sm hidden-xs">Sistema Integrado de Gerenciamento da UNA-SUS</span>
                    </a>
                </div>
                <!-- /.navbar-header -->
            </nav>

            <div class="container-fluid">
                <div class="row">                
                    <div class="col-md-4 col-md-offset-4">
                        <div class="login-panel panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Sigu Login</h3>
                            </div>
                            <div class="panel-body">
                                <form role="form">
                                    <fieldset>
                                        <div class="form-group">
                                            <input class="form-control" placeholder="Digite aqui o seu e-mail..." name="email" type="email" autofocus>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" placeholder="Digite aqui a sua senha..." name="password" type="password" value="">
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input name="remember" type="checkbox" value="Remember Me">Mantenha-me conectado.
                                            </label>
                                        </div>
                                        
                                        <a href="index.html" class="btn btn-lg btn-success btn-block">Login</a>
                                    </fieldset>
                                </form>                                
                            </div>                            
                        </div>
                        <div class="col-md-12 center login-footer">
                            <img src="assets/images/una-ufma.png" />
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
