<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="A WEB application for share Lab informations">
        <meta name="author" content="Lázaro Henrique">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="assets/img/favicon.ico">
        <title>NCA - Núcleo de Computação Aplicada</title>
        <!-- Bootstrap CSS-->
        <link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css">
        <!-- NCA CSS-->
        <link href="assets/css/entrar.css" rel="stylesheet" type="text/css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
  </head>

  <body>

    <div class="container">

      <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Área Administrativa</h2>
        <input type="email" class="form-control" placeholder="Endereço de email" required autofocus>
        <input type="password" class="form-control" placeholder="Senha" required>
        <a class="btn btn-lg btn-primary btn-block"  href="dashboard.html" type="button">Entrar</a>
      </form>

    </div> <!-- /container -->
  </body>
</html>
